
        <a href="{% url 'home' %}">
            <i class="fa fa-home"
               style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;text-align: center"></i>
        </a>

        model

# class Appointment(models.Model):
#     doctor = models.ForeignKey(Doctor,on_delete=models.CASCADE)
#     patient = models.ForeignKey(Patient,on_delete=models.CASCADE)
#     Date1 = models.DateField()
#     time1 = models.TimeField()
#
#     def __str__(self):
#         return self.doctor.name+"--"+self.patient.name


        #     # age = models.IntegerField(max_length=3)


            # form = UserCreationForm()
    # form = UserCreationForm(request.POST)
    # if form.is_valid():
    #     form.save()
    # context = {}