<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style type="text/css">
		.container {
			margin-top: 70px;
		}
		img{
			width: 100%;
			height: auto;
		}
		h2{
			padding-top: 50px;
		}
		p{
			font-size: 17px!important;
		}

        .about{
            text-align: center;
        }
        .heading1{
        text-align: center;
        }
        
    </style>
</head>
<body>

{% include "nav.html" %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 ">
            {% load static %}
            <img src="{% static './home.png' %}" alt="My image">
        </div>
        <div class="col-sm-6" >
            <h5 class="heading1">Welcome to Asthma Tracker</h5>
            <p class="lead">We provide remote Asthma monitoring facilities for you, the patients. You don’t need to go to any hospital or any specialists by yourself . You just have to provide the required data that needed and our specialized doctor will view your report through this website/application. They will review the data and give suggestions and necessary recommendations for your case. All you have to do then is to follow our doctors recommendations for leading a healthy and happy life.<br><br>.</p></div>

    </div>
</div>
   <section class="about">


   	<div class="about-wrap">

 

   		<div class="about-services">

				<div class="intro">
	   			<h5 class="animate-this">Services</h5>
	   			<h4 class="animate-this">What we provide</h4>

	   		
   			</div>



   					<div class="service-item">
   						<h5>Monitoring</h5>
   						<p>The doctors will monitor the patients by viewing the vital sign data that the patients have already provided.
   						</p>
   					</div>

   					<div class="service-item">
   						<h5>Telemedicine</h5>
   						<p>Doctors will communicate with the patients if needed via video conferencing to get a better sense of the situation.
   						</p>
   					</div>   					


   					<div class="service-item">
   						<h5>Online Prescription</h5>
   						<p>The Doctors will provide the online prescription to the patients.
   						</p>
   					</div>   					




   		</div> <!-- end about-services  -->   		

   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


<!--JS Library -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>